body{
    background-color: #f8cde7;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

#foto{
    border-radius: 45%;
    text-align: left;
    padding: 5%;
    width: 15%;
    float: left;
}

.coluna{
    padding-left: 5% ;
    clear: both;
}

.principal{
   text-align: center;
}

a{
    padding: 2%;
}

h1{
    font-size: xx-large;
}
h2{
    font-size: large;
}

h3{
    font-size: large;
    text-align: center;
}
.unica{
    width: 80%;
    padding-left: 10%;
    
}

